body {
  background: linear-gradient(to bottom right, #e1042b, #fb1d44) no-repeat center/cover;
  height: 100vh;
}

main{
  height: 90%;
  width: 100%;
}

.bio {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  transform: translateY(15%);
  background: #dbdbdb;
  padding: 100px;
  border-radius: 7px;
}

.bio__text {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
  line-height: 1.5;
  text-align: justify;
}

footer{
  height: 10%;
  width: 100%;
}

footer p {
  transform: translateY(50%);
  text-align: center;
}
